################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/nsny.co.in/FileContentIndex
/.vs/slnx.sqlite
