<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Add Master Code</strong>
      </c-card-header>
      <c-card-body>
     
        <form [formGroup]="addmastercodeForm" (ngSubmit)="onAddMasterCodeSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Master Code <span class="red-star">★</span></label>
                <div class="col-sm-8 mt-2">
                  <input type="text" formControlName="mastercode"  class="form-control" tabindex="1" maxlength="3"  id="mastercode">
                 
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-2">
              <div class="form-group">
                <label for="Status" class="col-sm-4 control-label">Status <span class="red-star">★</span></label>
                <div class="col-sm-8 mt-2">
                  <select id="active"
                          formControlName="active"
                          class="form-select mt-2"
                         >
                    <option value="" disabled>Select Active Status</option>
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                  </select>
                 


                </div>
              </div>
            </div>

          </div>

         

          <div class="FormBottom mt-4">
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-success">Submit</button>
                
              </div>
            </div>
          </div>
        </form>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>
