USE [qmabacus_http_test]
GO
/****** Object:  StoredProcedure [dbo].[GetBranchList]    Script Date: 07-11-2025 05:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[GetBranchList]
    /*
    (
    @parameter1 int = 5,
    @parameter2 datatype OUTPUT
    )
    */
    
    
AS
BEGIN
    
     SELECT [id]
      ,[name]
      ,[contact]
      ,[email]
      ,[commission]
      ,[pass]
      ,[act]
      ,[r1]
      ,[r2]
      ,[r3]
      ,[paymentmode] FROM BranchDetails WITH (NOLOCK)

END


