USE [nsnyorg_demonationalyouth]
GO
/****** Object:  StoredProcedure [dbo].[DeleteCourse]    Script Date: 10-11-2025 11:05:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[DeleteCatagory]
    /*
    (
    @parameter1 int = 5,
    @parameter2 datatype OUTPUT
    )
    */
   @id								int 
    
AS
BEGIN
    
     delete FROM Catagory where id=@id

END


