USE [nsnyorg_demonationalyouth]
GO
/****** Object:  StoredProcedure [dbo].[GetAllImageList]    Script Date: 07-11-2025 11:23:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetAllImageList]
(
    @name VARCHAR(MAX) = NULL,
    @NSSY_code VARCHAR(MAX) = NULL,
    @Center_code VARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        [name],
        [Center_code],
        [Center_name],
        [pic],
        [NSSY_code]
    FROM 
        [Addmission_Student] WITH (NOLOCK)
    WHERE 
       (@name IS NULL OR [name] = @name)
    AND (@NSSY_code IS NULL OR [NSSY_code] = @NSSY_code)
    AND (@Center_code IS NULL OR [Center_code] = @Center_code) ORDER BY 
        pic DESC
END;