USE [nsnyorg_demonationalyouth]
GO
/****** Object:  StoredProcedure [dbo].[GetBranchList]    Script Date: 10-11-2025 11:14:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[GetCatagoryList]
    /*
    (
    @parameter1 int = 5,
    @parameter2 datatype OUTPUT
    )
    */
    
    
AS
BEGIN
    
     SELECT [id]
      ,[name],
	  create_date,active
       FROM Catagory WITH (NOLOCK)

END


