
/* You can add global styles to this file, and also import other style files */

// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@import "theme";

// Some temp fixes
//@import "fixes";

// If you want to add custom CSS you can put it here.
@import "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@import "examples";


// animation style
// --------------------------
/*.modal {
  &.show .modal-dialog {
    transition: 0.25s all;
    // opacity: 0;
    transform: translate(0, -5vh);
  }

  &.custom-show .modal-dialog {
    opacity: 1;
    transform: translate(0, 0);
  }

  .modal-body {
    &:focus {
      outline: none;
    }
  }
}*/
/*.fade.modal {
  opacity: 1 !important;
}*/
