<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Student Details</strong>
      </c-card-header>
      <c-card-body>
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary" (click)="printData()"><i class="fa fa-print" aria-hidden="true"></i> Print</button>&nbsp;
            <button class="btn btn-danger" (click)="excelFileData()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export to MS Excel File</button>
          </div>
        </div>
        <div class="mt-3">
          <ag-grid-angular [domLayout]="'autoHeight'"
                           class="ag-theme-quartz"
                           [pagination]="true"
                           [rowData]="branchviewstudentList"
                           [columnDefs]="columnDefs"
                           [paginationPageSize]="pageSize">
          </ag-grid-angular>
        </div>

      </c-card-body>
    </c-card>
  </c-col>

</c-row>
