<!-- <app-widgets-dropdown />-->



<h3 class="text-center mb-4">Wellcome to dashboard</h3>


<div class="row justify-content-md-center">
  <div class="col col-md-3">
    <div class="bg-warning card text-white mb-3">
      <div class="card-body text-center">
        <p class="h6">Number of Students</p>
        <h3 class="high-light mt-3">{{dashboard?.numberofStudents}}</h3>
      </div>
    </div>
  </div>
  <div class="col col-md-3">
    <div class="bg-danger card text-white mb-3">
      <div class="card-body text-center">
        <p class="h6"> Number of Course</p>
        <h3 class="high-light mt-3">{{dashboard?.numberofCourse}}</h3>
      </div>
    </div>
  </div>
  <div class="col col-md-3">
    <div class="bg-info card text-white mb-3">
      <div class="card-body text-center">
        <p class="h6"> Number of Branche</p>
        <h3 class="high-light mt-3">{{dashboard?.numberofBranche}}</h3>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="from">Name:</label>
        <div class="mt-1">
          <input class="form-control" type="text"
                 placeholder="Student Name"
                 name="from"
                 id="name"
                 [(ngModel)]="name" />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="to">Student Id:</label>
        <div class="mt-1">
          <input class="form-control" type="text"
                 placeholder="Student Id"
                 name="id"
                 id="s_id"
                 [(ngModel)]="nssycode" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mt-3">
      <div class="form-group">
        <label for="selectedBranch">Select Branch:</label>
        <select name="selectedBranch" [(ngModel)]="centercode" id="selectedBranch" class="form-control">
          <option [value]="0">All</option>
          <option *ngFor="let ut of branchList" [value]="ut.id">{{ut.bname}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mt-4" style="padding-top: 12px;">
        <button type="submit" class="btn btn-info" (click)="getAllImage()">Genarate Image</button>

      </div>
    </div>

  </div>
 
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 p-4 bg-gray-50 rounded-2xl border border-gray-300 mt-4">
    <div *ngFor="let img of images; let i = index" class="card">
      <img [src]="img.pic" alt="Image {{i}}" />{{img.nssY_code}}<br /> <button (click)="editImage(img.pic,img.nssY_code)">Download</button>
    </div>
  </div>

</div>



