<!-- <app-widgets-dropdown />-->



<h3 class="text-center mb-4">Wellcome to dashboard</h3>


<div class="row justify-content-md-center">
  <div class="col col-md-3">
    <div class="bg-warning card text-white mb-3">
      <div class="card-body text-center">
        <p class="h6">Number of Students</p>
        <h3 class="high-light mt-3">{{dashboard?.numberofStudents}}</h3>
      </div>
    </div>
  </div>
  <div class="col col-md-3">
    <div class="bg-danger card text-white mb-3">
      <div class="card-body text-center">
        <p class="h6"> Number of Course</p>
        <h3 class="high-light mt-3">{{dashboard?.numberofCourse}}</h3>
      </div>
    </div>
  </div>
  <div class="col col-md-3">
    <div class="bg-info card text-white mb-3">
      <div class="card-body text-center">
        <p class="h6"> Number of Branche</p>
        <h3 class="high-light mt-3">{{dashboard?.numberofBranche}}</h3>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <iframe src="http://nsny.co.in/efileupload/elFinder/elFinder.html" style="width: 90%; height: 420px"
          scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0">
    Sorry your browser does not support inline frames.
  </iframe>
</div>


