<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Change Password</strong>
      </c-card-header>
      <c-card-body>
     
        <form>
              <div class="row">
                <div class="col-md-6 mt-2">
                  <div class="form-group">
                   ID: 

                    {{currentUser?.id}}
                  </div>
                </div>
                <div class="col-md-6 mt-2">
                  <div class="form-group">
                    <label for="username">Admin User Name: </label>
                    <input type="text" [(ngModel)]="username" class="form-control" name="username" id="username" disabled="disabled" [ngModelOptions]="{standalone: true}">

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mt-2">
                  <div class="form-group">
                    <label for="password">Admin Password: </label>
                    <input type="text" [(ngModel)]="password" class="form-control" name="password" id="password" [ngModelOptions]="{standalone: true}">


                  </div>
                </div>
              </div>


              <div class="FormBottom">
                <div class="form-group mt-3">
                  <div class="col-12-12 text-center">
                    <button type="submit" (click)="changeBranchPassword()" class="btn btn-success">Submit</button>
                  </div>
                </div>
              </div>
            </form>
         
      </c-card-body>
    </c-card>
  </c-col>

</c-row>
