USE [rgApp]
GO
/****** Object:  StoredProcedure [dbo].[RG_ProductInsert]    Script Date: 10-Apr-2016 4:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RG_ProductInsert]
(
	@ProductId int = NULL output,
	@Name nvarchar(400),
	@ShortDescription ntext,	
	@CreatedOn datetime,
	@UpdatedOn datetime,
	@Result BIT OUTPUT,
	@ResultText VARCHAR(100) OUTPUT
)
AS
BEGIN
--SELECT @ProductId = (CASE WHEN MAX(ProductId) IS NULL THEN 1 ELSE Max(ProductId) + 1 END) FROM RG_Product;

	INSERT INTO [RG_Product]
	(
		[Name],
		ShortDescription,		
		CreatedOn,
		UpdatedOn
	)
	VALUES
	(
		@Name,
		@ShortDescription,
		@CreatedOn,
		@UpdatedOn
	)

	IF(@@ROWCOUNT > 0)
		BEGIN
			SET @Result = 1;
			SET @ResultText = 'Product Successfully Created';			
		END
		ELSE
		BEGIN
			SET @ResultText = 'Product Could Not Be Performed';
		END
	
	set @ProductId=@@identity
END

GO
/****** Object:  Table [dbo].[RG_Product]    Script Date: 10-Apr-2016 4:25:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RG_Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](400) NOT NULL,
	[ShortDescription] [ntext] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [Nop_Product_PK] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[RG_Product] ON 

INSERT [dbo].[RG_Product] ([ProductId], [Name], [ShortDescription], [CreatedOn], [UpdatedOn]) VALUES (1, N'MOTO-G', N'mororola 3 rd generation', CAST(0x0000A5E400000000 AS DateTime), CAST(0x0000A5E400000000 AS DateTime))
INSERT [dbo].[RG_Product] ([ProductId], [Name], [ShortDescription], [CreatedOn], [UpdatedOn]) VALUES (6, N'SAMSUNG GALAXY', N'SAMSUNG GALAXY', CAST(0x0000A5E400000000 AS DateTime), CAST(0x0000A5E400000000 AS DateTime))
INSERT [dbo].[RG_Product] ([ProductId], [Name], [ShortDescription], [CreatedOn], [UpdatedOn]) VALUES (7, N'MOTO-G11', N'mororola 3 rd generation', CAST(0x0000A5E400000000 AS DateTime), CAST(0x0000A5E400000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[RG_Product] OFF
