<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>All Notification List</strong>
      </c-card-header>
      <c-card-body>

        <a class="btn btn-danger" (click)="deleteNotice()">Delete</a>
       
        <div class="mt-2">
          <ag-grid-angular [domLayout]="'autoHeight'"
                           class="ag-theme-quartz"
                           [pagination]="true"
                           [rowData]="getAllNotification"
                           rowSelection='multiple'
                           [rowMultiSelectWithClick]="true"
                           [columnDefs]="columnDefs"
                           [paginationPageSize]="pageSize"
                           suppressCellSelection="true"
                           (selectionChanged)="onSelectionChanged($event)">
          </ag-grid-angular>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>




